<p>Tufts Smash will open for use if 100 or more people sign up by Friday Afternoon.</p> 
<p>Tufts Smash is a service similar to Tinder in which your matches are only announced if both parties match.</p>
<table>
<form method="post">
	<tr>
		<th colspan="2">Signup</th>
	</tr>
	<tr>
		<td>First Name:</td><td><input type="text"></td>
	</tr>
	<tr>
		<td>Last Name:</td><td><input type="text"></td>
	</tr>
	<tr>
		<td>Email:</td><td><input type="email"></td>
	</tr>
	<tr>
		<td>Phone:</td><td><input type="text"></td>
	</tr>
	<tr>
		<td></td><td><input type="submit" value="Submit"></td>
	</tr>
</form>
</table>