<p>Tufts Smash will open for use if 100 or more people sign up by Friday Afternoon.</p> 
<p>Tufts Smash is a service similar to Tinder in which your matches are only announced if both parties match.</p>
<table>
<form action="/add" method="post">
	<tr>
		<th colspan="2">Signup</th>
	</tr>
	<tr>
		<td><span class="required">*</span>First Name:</td><td><input id="first" type="text"></td>
	</tr>
	<tr>
		<td><span class="required">*</span>Last Name:</td><td><input id="last" type="text"></td>
	</tr>
	<tr>
		<td><span class="required">*</span>Email:</td><td><input id="email" type="email"></td>
	</tr>
	<tr><td colspan="2">Email must be a Tufts University email.</td></tr>
	<tr>
		<td>Phone:</td><td><input id="phone" type="text"></td>
	</tr>
	<tr>
		<td></td><td><input id="sub" type="submit" value="Submit" disabled></td>
	</tr>
</form>
</table>