<p>Tufts Smash will open for use if 100 or more people sign up by Friday Afternoon.</p> 
<p>Tufts Smash is a service similar to Tinder in which your matches are only announced if both parties match.</p>

<form method="post">
First Name:<input type="text"><br/>
Last Name:<input type="text"><br/>
Email:<input type="email"><br/>
Phone:<input type="text">
</form>